.hBrand{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 50px;
  line-height: 20px;
  font-family:"PT Serif";
  color:#777;
}
.hBrand:hover,
.hBrand:focus,
.button:hover,
.button:focus {
  text-decoration: none;
  color: #5e5e5e;
  background-color: transparent;
}
.button {
	padding:5px 10px 5px 10px;
  	font-size: 20px;
  	line-height: 20px;
  	font-family:"PT Serif";
  	color:#777;
  	border: 2px solid;
  	border-radius: 25px;
}

.hBig {
	font-family:"PT Serif", Arial, sans-serif;
	font-size:100px;
}
.ltag {
	color: #C0C0C0;
}