

#home, #about, #projects{
        padding-top:60px;
        padding-bottom:60px;
        min-height:100vw;
        min-width:100vw;
        /*background: -webkit-linear-gradient(left top, white, black); 
        background: -o-linear-gradient(bottom right, white, black); 
        background: -moz-linear-gradient(bottom right, white, black); 
        background: linear-gradient(to bottom right, white, black);   
        */
}

#about,#projects {
        font-family:"PT Serif", Garamond, Arial;
}
    
.hBrand{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 50px;
  line-height: 20px;
  font-family:"PT Serif", Garamond;
  color: white;
}

.button {
	padding:5px 10px 5px 10px;
  	font-size: 20px;
  	line-height: 20px;
  	font-family:"PT Serif", Garamond, Arial;
  	color:white;
  	border: 2px solid;
  	border-radius: 25px;
}

.hBig {
	font-family:"PT Serif", Arial, sans-serif;
	font-size:100px;
}
.ltag {
	color: silver;
}
.lnk {
	color:#000;
	line-height:10px;
}
.hBrand:hover,
.hBrand:focus,
.button:hover,
.button:focus 
.lnk:hover,
.lnk:focus{
  text-decoration: none;
  color: #5e5e5e;
  background-color: transparent;
}
.projectName{
	color:#003264;
}
